.background {
    background-color: rgb(255, 255, 255);
}

.bg-orange {
    background-color: #fac11a !important;
  }
/* .background {
    background: url(/images/business-meeting-cainco-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background-form {
    background-color: rgba(38,53,71,0.75);
    padding: 3em;
    border-radius: 0 0 10px 10px;
}
.register-form {
    color: #FFFFFF;
}
.register-form h2 {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
.register-form label {
    font-weight: 600;
}
.login-form {
    padding: 3em;
    background-color: rgba(0,0,0,0.6);
    color: #FFFFFF;
    border-radius: 10px;
}
.login-form h2 {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
.login-form hr {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}
.login-form ul {
    list-style-type: none;
}
.aclaration-text {
  font-size: 0.7em;
  font-style: italic;
}
.title {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.title-form {
  color: #F9AB5B;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.register-fields-container {
  background-color: rgba(0,0,0,0.5);
  padding: 2em;
  border-radius: 10px;
}
.custom-select {
  width: 100%;
}
.invalid-feedback {
  color: #ff0018;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
} */
